!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Really Simple Authentication
  %body
    %a(href='/')Home
    %a(href='/admin')Login
    %a(href='/logout')Logout
    %a(href='/public')Public
    %a(href='/private')Private
    = yield
    %a= link_to "/form", "Back to Form"
